<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<%- include partials/head.ejs %>
</head>

<!--
<div id="map"></div>
 <div id="output"  style="width: 600px; height: 400px left: 100px; top: 550px;">HERE IS MY DATA</div> 
-->

	<!-- UI Content -->
	<body class="sapUiBody" id="content" role="application" >
	<image src="img/marbleheader.jpg" width="100%" height="50px"/>
    </body>
</html>
